@media (max-width: 421px) {
    .header{
        padding-right:0;
        padding-left:0;
        justify-content:center;
        flex-direction: column;
        display: flex;
        align-items: center;
        background-color: white;
      }
   
  }
  
  @media (min-width: 421px) {
    .header{
        background-color: white;
        padding-right:5%;
        padding-left:5%;
        justify-content: space-between;
        flex-direction:  row;
        display: flex;
      }
   
  }